#butons{
    border-radius: 9px;
 padding: 3px 3px; 
}
.divbuton{
    
    border: 1px solid white;
    border-radius: 9px;
    float: right;
    position: relative;
    margin-top: 5px;
    margin-right:10px;
}
#footer{
  
    margin-top: auto;
  
    
}
#content{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}



/* @media screen and (min-width: 992px) {
    .divbuton {
        display: block; 
    }
    #navbardaynight {
        display: block; 
    }
}

@media screen and (max-width: 991px) {
    .divbuton {
        display: none; 
    }
    #navbardaynight {
        display: none; 
    }
} */
