#butons{
    border-radius: 9px;
 padding: 3px 3px; 
}
.divbuton{
    
    border: 1px solid white;
    border-radius: 9px;
    margin-left: 20px;
}
#footer{
  
    margin-top: auto;
  
    
}
#content{
    display: flex;
    flex-direction: column;
    min-height: 100dvh; /* Footer yüksekliğini çıkart */
}